flows.json
[{"id":"ef29b20f.443618","type":"http in","z":"df7f2e09.ab29","name":"","url":"/showudp","method":"get","upload":false,"swaggerDoc":"","x":135.5,"y":353,"wires":[["ccbf28e3.fcda"]]},{"id":"f3a42ccf.9fc89","type":"udp in","z":"df7f2e09.ab29","name":"1884 as string","iface":"","port":"1884","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":114,"y":54,"wires":[["98a63aab.bd9518"]]},{"id":"98a63aab.bd9518","type":"change","z":"df7f2e09.ab29","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"udp-relay-1884","tot":"str"},{"t":"set","p":"mode","pt":"msg","to":"string","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":54,"wires":[["3f8b52f2.07020e"]]},{"id":"3f8b52f2.07020e","type":"change","z":"df7f2e09.ab29","name":"","rules":[{"t":"set","p":"deviceType","pt":"msg","to":"udpRelay","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"eventOrCommandType","pt":"msg","to":"udp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":556,"y":107,"wires":[["54945563.5201ec"]]},{"id":"54945563.5201ec","type":"template","z":"df7f2e09.ab29","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"deviceId\": \"{{deviceId}}\",\n\"timestamp\": \"{{timestamp}}\",\n\"originAddress\": \"{{ip}}\",\n\"originPort\":\"{{port}}\",\n\"datamode\":\"{{mode}}\",\n\"data\": \"{{{payload}}}\"\n}","output":"json","x":741,"y":108,"wires":[["821d8501.62105","80155ae1.41bc78","294b955e.a5d0ba"]]},{"id":"8865e094.aaae6","type":"change","z":"df7f2e09.ab29","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"udp-relay-1885","tot":"str"},{"t":"set","p":"mode","pt":"msg","to":"base64","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":108,"wires":[["3f8b52f2.07020e"]]},{"id":"821d8501.62105","type":"ibmiot out","z":"df7f2e09.ab29","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"a","deviceType":"0.18.6","eventCommandType":"a","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"quickstart","x":936.5,"y":109,"wires":[]},{"id":"80155ae1.41bc78","type":"debug","z":"df7f2e09.ab29","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":927.5,"y":62,"wires":[]},{"id":"109cd19b.cc8006","type":"udp in","z":"df7f2e09.ab29","name":"1885 as base64","iface":"","port":"1885","ipv":"udp4","multicast":"false","group":"","datatype":"base64","x":122,"y":108,"wires":[["8865e094.aaae6"]]},{"id":"294b955e.a5d0ba","type":"file","z":"df7f2e09.ab29","name":"","filename":"/data/udp.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":947.5,"y":157,"wires":[]},{"id":"ccbf28e3.fcda","type":"file in","z":"df7f2e09.ab29","name":"","filename":"/data/udp.log","format":"utf8","chunk":false,"sendError":false,"x":382.5,"y":352,"wires":[["191084a1.744b9b"]]},{"id":"43281e6.0873e6","type":"template","z":"df7f2e09.ab29","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.length}} records found.\n<table>\n    <tr style=\"text-align:left;\">\n        <th>Device/port</th>\n        <th>Timestamp</th>\n        <th>Origin address</th>\n        <th>Origin port</th>\n        <th>Data mode</th>\n        <th>Received payload</th>\n    </tr>\n{{#payload}}\n<tr>\n    <td>{{deviceId}}</td>\n    <td>{{timestamp}}</td>\n    <td>{{originAddress}}</td>\n    <td>{{originPort}}</td>\n    <td>{{datamode}}</td>\n    <td>{{{data}}}</td>\n</tr>\n{{/payload}}\n</table>","output":"str","x":741.5,"y":352,"wires":[["27dc96b5.d470f2"]]},{"id":"27dc96b5.d470f2","type":"http response","z":"df7f2e09.ab29","name":"","statusCode":"","headers":{},"x":938.5,"y":351,"wires":[]},{"id":"191084a1.744b9b","type":"function","z":"df7f2e09.ab29","name":"","func":"var msgArray = msg.payload.split(\"\\n\");\nmsgArray.forEach(function(m,i){\n   if(m !== '') {\n        msgArray[i] = JSON.parse(m);\n   }\n})\nmsg.payload = msgArray;\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":352,"wires":[["43281e6.0873e6","db0ce018.c67288"]]},{"id":"db0ce018.c67288","type":"debug","z":"df7f2e09.ab29","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":784.5,"y":283,"wires":[]},{"id":"bf817dd7.a865","type":"exec","z":"df7f2e09.ab29","command":"rm /data/udp.log && touch /data/udp.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":467.5,"y":280.5,"wires":[[],[],[]]},{"id":"27d54713.7523","type":"inject","z":"df7f2e09.ab29","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135.5,"y":281,"wires":[["bf817dd7.a865"]]},{"id":"c6090010.53227","type":"inject","z":"df7f2e09.ab29","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":223,"wires":[["eddb2f44.8262d8"]]},{"id":"eddb2f44.8262d8","type":"exec","z":"df7f2e09.ab29","command":"touch /data/udp.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":394,"y":223.5,"wires":[[],[],[]]},{"id":"adef72a.dbb689","type":"udp in","z":"df7f2e09.ab29","name":"1886 as buffer","iface":"","port":"1886","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":124,"y":161,"wires":[["3807b068.ea14b"]]},{"id":"3807b068.ea14b","type":"change","z":"df7f2e09.ab29","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"udp-relay-1886","tot":"str"},{"t":"set","p":"mode","pt":"msg","to":"buffer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":161,"wires":[["3f8b52f2.07020e"]]}]
